Source: sagasu
Section: utils
Priority: optional
Maintainer: Daniel Gubser <guterm@debian.org>
Build-Depends: debhelper (>= 4), libgnomeui-dev (>= 2.0.0)
Standards-Version: 3.8.4

Package: sagasu
Architecture: any
Depends: ${shlibs:Depends}
Description: GNOME tool to find strings in a set of files
 The user specifies the search directory and the set of files
 to be searched.  Double-clicking on a search result launches a
 user command that can for example load the file in an editor
 at the appropriate line.  The search can optionally ignore
 CVS directories.
 .
 http://sarrazip.com/dev/sagasu.html
